
html {
    body {
        color: #fff;
        margin: 0;
        padding: 0;
        background: #36c;
        // background:
        // linear-gradient(115deg, transparent 75%, rgba(255,255,255,.8) 75%) 0 0,
        // linear-gradient(245deg, transparent 75%, rgba(255,255,255,.8) 75%) 0 0,
        // linear-gradient(115deg, transparent 75%, rgba(255,255,255,.8) 75%) 7px -15px,
        // linear-gradient(245deg, transparent 75%, rgba(255,255,255,.8) 75%) 7px -15px,
        // #36c;
        // background-size: 15px 30px
    }

}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
nav * {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: .4rem 3rem;
  border-bottom: .1rem solid #fff;
  border-right: .1rem solid #fff;
  border-left: .1rem solid #fff;
}

.col-left {
  border: .1rem solid grey;
  height: 80%;
  width: 45%;
  float: left;
  margin-left: 4%;
}

.col-right {
  border: .1rem solid grey;
  height: 80%;
  width: 45%;
  float: right;
  margin-right: 4%;
}

textarea {
  height: 600px;
  width: 391px;
  font-size: 2rem;
}

.output {
  height: 600px;
  width: 391px;
  font-size: 2rem;
  background: #fff;
  color: #000;
}

button {
  position: absolute;
  bottom: 0;
  left: 70%;
  width: 200px;
  height: 50px;
  background: red;
  border: none;
  color: #fff;
  margin-bottom: 1rem;
}
